@charset "UTF-8";
* {
  box-sizing: border-box; }

p {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: block;
  width: 100%;
  color: gray; }

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10px;
  color: #058cff;
  display: block;
  width: 100%;
  padding: 10%;
  text-align: center; }

.full-bg-img {
  background-image: url(../imagenes/head.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-areas: "logo" "slogan";
  grid-template-rows: auto;
  grid-template-columns: auto, auto;
  grid-gap: 1px; }

.img-logo {
  position: absolute;
  grid-area: "logo";
  top: 150px;
  transform: translate(-50%, -50%);
  height: 0px;
  left: 150px;
  width: 550px;
  height: 350px; }

.slogan {
  padding-top: 200px;
  text-align: center;
  font-family: 'motserrat';
  color: white;
  font-size: 40px;
  grid-area: "slogan";
  position: absolute; }

.caja_head_menuredes {
  position: fixed;
  top: 10px;
  background-color: #fa1ca4;
  border-radius: 20px;
  padding: 20px;
  display: block;
  color: white;
  right: 0; }

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto auto;
  grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
  text-align: center;
  left: 0px;
  object-position: center;
  padding: 50px; }

/*boton ver más*/
.button {
  background-color: white;
  border: none;
  color: gray;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px; }

.button1 {
  background-color: white;
  color: gray;
  border: 2px solid #fa1ca4; }

.button1:hover {
  background-color: #f3e80f;
  color: white; }

.footer {
  background-image: url("../imagenes/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 120px; }

.footer-text p {
  position: absolute;
  font-size: 15px;
  font-family: monospace;
  color: white;
  top: 60px;
  left: 300px; }
  .footer-text p a {
    color: #ffbd39; }

/*NUESTRO SERVICIOS*/
.display-4 {
  /*para titulos*/
  padding: 20px;
  color: #058cff; }

.featurette-heading {
  /*PARA TITULOS DE TEXTO*/
  border-top-color: #058cff; }

.contenedorequipo {
  width: 150px;
  height: 150px;
  border-radius: 50px; }

/* TEXTO NOVEDADES */
.col {
  padding: 10px; }

/* contaduria */
.mb-4 {
  display: block;
  background-color: #058cff;
  font-family: 'Roboto';
  font-size: 30px;
  color: white;
  padding: 20px;
  border-radius: 15px; }

/*SECIONES*/
#recursoshumanos {
  background-color: #f6f6f6; }

#legales {
  background-color: #f6f6f6; }

.col-lg-3 p {
  font-size: 20px;
  padding: 15px; }

h4 {
  color: #f45905; }

.service-1-title h2 {
  background-color: #f45905;
  color: white;
  border-radius: 15px;
  padding: 37px;
  font-family: 'roboto'; }

.icon-estrategia {
  background-color: #ff2e63; }

.icon-media {
  background-color: #3ec1d3; }

.icon-multi {
  background-color: #ff9a00; }

.icon-branding {
  background-color: #ffbd39; }

.icon-mkt {
  background-color: #0c056d; }

.icon-valor {
  background-color: #590d82; }

.text-estrategia {
  color: #ffbd39; }

.text-media {
  color: #590d82; }

.text-multi {
  color: #0c056d; }

.text-mkt {
  color: #ff2e63; }

.text-branding {
  color: #3ec1d3; }

.text-valor {
  color: #ff9a00; }

/*Equipo*/
.btn-linkedin {
  background-color: #058cff;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 25px; }

/*CONTACTO*/
.awe-section {
  padding: 50px; }

.contact {
  padding: 10px; }

/*BUSQUEDA*/
.container-busqueda {
  background-color: white;
  padding: 1%; }

.meta {
  background-color: #ff9a00;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px; }

.h-entry {
  background-color: white; }

.col-md-6 {
  background-color: white; }

.mb-4 {
  font-size: 20px; }

/*CLIENTES*/
.col-12 h4 {
  text-align: center;
  background-color: #ff2e63;
  color: white;
  width: 800px;
  left: 10px;
  padding: 20px;
  border-radius: 25px; }

/*media celulares*/
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 6, 200px;
    grid-template-columns: 500px;
    grid-template-areas: "uno" "dos" "cuatro" "tres" "cinco" "seis";
    padding: 5px; }
  .full-bg-img {
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: auto;
    grid-template-areas: "uno" "dos"; }
  .img-logo {
    width: 400px;
    height: 250px;
    top: 150px;
    left: 250px; }
  .slogan {
    font-size: 25px;
    top: 100px;
    left: 50px; }
  .footer-text p {
    left: 50px;
    top: 30px;
    width: 350px; } }
