@import "colores";
* {box-sizing: border-box;}
p{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: block;
  width: 100%;
  color: $gray;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10px;
  color: $cyan;
  display: block;
  width: 100%;
  padding: 10%;
  text-align: center;
}
.jumbotron {
  background-image: url("../imagenes/head-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  text-align: center;
}
.col-lg-logo {
  position: absolute;
  top: 50px;
  transform: translate(-50%, -50%);
  max-width: 10px;
  height: 0px;
  left: 50px;
}
.col-lg {
  top: 150px;
  left: 150px;
  text-align: center;
  font-family: 'motserrat';
  color: white;
  font-size: 40px;
}
.redes {
  padding: 200px;
  grid-area: "redes";
 }
 .caja_head_menuredes {
  position: fixed;
  top: 10px;
  background-color: $pink;
  border-radius: 20px;
  padding: 20px;
  display: block;
  color: white;
  right: 0;
}
/*media celu*/
@media (max-width: 768px) {
  .col-lg-logo {
    /* PARA MENOS DE 768px*/
    top: 20px;
    transform: translate(-10%, -10%);
    max-width: 0px;
    height: 0px;
    left: 0px;
  }
  .col-lg {
    top: 320px;
    left: 0px;
    text-align: center;
    font-family: 'motserrat';
    color: white;
    font-size: 25px;
  }
}
/*media notbook*/
@media screen and (min-width:768px) and (max-width:1050px){
 .col-lg {
    top: 200px;
    left: 320px;
    text-align: center;
    font-family: 'motserrat';
    color: white;
    font-size: 25px;
  }
}
/*media pantalla grande*/
@media (min-width:1050px) {
  .col-lg {
     top: 230px;
     left: 320px;
     text-align: center;
     font-family: 'motserrat';
     color: white;
     font-size: 40px;
   }
 }
 .container {
  display: grid;
  grid-template-rows: repeat(3, auto) ; 
  grid-template-columns: auto auto;
  grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
  text-align: center;
  left: 0px;
}
/*media novedades*/
@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: (6,200px);
    grid-template-columns: 500px;
    grid-template-areas: 
    "uno" "dos" "cuatro" "tres" "cinco" "seis";
    padding: 5px;
  }
}
​
/*boton ver más*/
.button {
  background-color: white; 
  border: none;
  color: $gray;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
}

.button1 {
  background-color: white; 
  color: $gray; 
  border: 2px solid $pink;
}

.button1:hover {
  background-color: $yellow;
  color: white;
}

.footer{
  background-image: url("../imagenes/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 120px;
  
}
.footer-text p{
  position: absolute;
  font-size: 15px;
  font-family: monospace;
  color: white;
  top: 60px;
  left: 300px;
    a{
      color: $amarillo;
    }
 

}
/*NUESTRO SERVICIOS*/
.display-4 { /*para titulos*/
  padding: 20px;
  color: $cyan;
}
.featurette-heading { /*PARA TITULOS DE TEXTO*/
  border-top-color: $cyan;


}

.contenedorequipo {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

/* TEXTO NOVEDADES */
.col {
  padding: 10px;
}
/* contaduria */
.mb-4 {
  display: block;
  background-color:$cyan;
  font-family: 'Roboto';
  font-size: 30px;
  color: white;
  padding: 20px;
  border-radius: 15px;
}


/*SECIONES*/
#recursoshumanos{
  background-color: #f6f6f6;
}
#legales{
  background-color: #f6f6f6;
}
.col-lg-3 p {
  font-size: 20px;
  padding: 15px;
}
h4 {
  color: #f45905;
}
.service-1-title h2{
  background-color: #f45905;
  color: white;
  border-radius: 15px;
  padding: 37px;
  font-family: 'roboto';
}

.icon-estrategia {
  background-color: $rosa;
}
.icon-media {
  background-color: $celeste;
}
.icon-multi {
  background-color: $naranja;
}
.icon-branding {
  background-color: $amarillo;
  
}
.icon-mkt {
  background-color: $azul;
}
.icon-valor {
  background-color: $violeta;
}

.text-estrategia {
  color: $amarillo;
}
.text-media {
  color: $violeta;
}
.text-multi {
  color: $azul;
}
.text-mkt {
  color: $rosa;
}
.text-branding {
  color: $celeste;
}
.text-valor {
  color: $naranja;
}

/*Equipo*/
.btn-linkedin{
  background-color: $cyan;
  color: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 25px;
}
/*CONTACTO*/
.awe-section {
  padding: 50px;
}
.contact {
  padding: 10px;
}
/*BUSQUEDA*/
.container-busqueda {
  background-color: white;
  padding: 1%;
}
.meta {
  background-color: $naranja;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.h-entry {
  background-color: white;
}
.col-md-6  {
  background-color: white;
}
.mb-4 {
  font-size: 20px;
}
/*CLIENTES*/
.col-12 h4{
  text-align: center;
  background-color: $rosa;
  color: white;
  width: 800px;
  left: 10px;
  padding: 20px;
  border-radius: 25px;
}